form-control-focus()
	&:focus
		color $form-control-focus-color
		background-color $form-control-focus-bg
		border-color $form-control-focus-border-color
		outline 0
		box-shadow $form-control-focus-box-shadow