hover()
	&:hover
		{block}
		
focus()
	&:focus
		{block}
		
hover-focus()
	&:hover
	&:focus
		{block}
		
plain-hover-focus()
	&
	&:hover
	&:focus
		{block}
		
hover-focus-active()
	&:hover
	&:focus
	&:active
	&.active
		{block}