.fw-example
	.container
		.row
			.col
				|col
			.col
				|col
			.col
				|col

		.samble
			pre
				code.
					&lt;div class="container"&gt;
						&lt;div class="row"&gt;
							&lt;div class="col"&gt;One of three columns&lt;/div&gt;
							&lt;div class="col"&gt;One of three columns&lt;/div&gt;
							&lt;div class="col"&gt;One of three columns&lt;/div&gt;
						&lt;/div&gt;
					&lt;/div&gt;


	.container
		h3 Equal-width
		.row
			.col
				|1 of 2
			.col
				|2 of 2

		.row
			.col
				|1 of 3
			.col
				|2 of 3
			.col
				|3 of 3

		.samble
			pre
				code.
					&lt;div class="container"&gt;
						&lt;div class="row"&gt;
							&lt;div class="col"&gt;
								1 of 2
							&lt;/div&gt;
							&lt;div class="col"&gt;
								2 of 2
							&lt;/div&gt;
						&lt;/div&gt;
						&lt;div class="row"&gt;
							&lt;div class="col"&gt;
								1 of 3
							&lt;/div&gt;
							&lt;div class="col"&gt;
								2 of 3
							&lt;/div&gt;
							&lt;div class="col"&gt;
								3 of 3
							&lt;/div&gt;
						&lt;/div&gt;
					&lt;/div&gt;

	.container
		h3 Multiple lines
		.row
			.col
				|Column
			.col
				|Column
			.w-100
			.col
				|Column
			.col
				|Column

		.sample
			pre
				code.
					&lt;div class="container"&gt;
						&lt;div class="row"&gt;
							&lt;div class="col"&gt;Column&lt;/div&gt;
							&lt;div class="col"&gt;Column&lt;/div&gt;
							&lt;div class="w-100"&gt;&lt;/div&gt;
							&lt;div class="col"&gt;Column&lt;/div&gt;
							&lt;div class="col"&gt;Column&lt;/div&gt;
						&lt;/div&gt;
					&lt;/div&gt;