// Плавное затухание плейсхолдера при фокусе на элементы
input[type="text"]
input[type="password"]
input[type="email"]
input[type="tel"]
textarea
	input-placeholder(opacity,1, true)
	
input[type="text"]:focus
input[type="password"]:focus
input[type="email"]:focus
input[type="tel"]:focus
textarea:focus
	input-placeholder(opacity,0)