.section__wrap
	.section__content.animate
		.section__title
			h2.animate-2 Page TWO
		.section__desc.fade-1
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum recusandae, at pariatur ex dolorum. Nam beatae pariatur enim aut delectus voluptatum, nesciunt ad. Consequatur dolores error et, quidem, fugit repellendus!