.section__wrap
	h2 Page ONE
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum recusandae, at pariatur ex dolorum. Nam beatae pariatur enim aut delectus voluptatum, nesciunt ad. Consequatur dolores error et, quidem, fugit repellendus!