extends template.jade

block variables
	- var page_heading_titile
	- var breadcrumb_chain

block prepend links 
	link(rel="stylesheet", href="libraries/highlight/default.css")
	script(src="libraries/highlight/highlight.pack.js")
	script.
		hljs.initHighlightingOnLoad();

block pixel-glass-templates

block page
	+breadcrumb(breadcrumb_chain)
	
	.container
		block heading_titile

	block content


block prepend bottom-scripts