.form__control
	a(href="" class="pseudoselect js-pseudoselect") Hankook
	span.icon.select
	ul.drop.js-drop
		li Hankook
		li Michelin
		li Pirelli
		li Maxxis
	input(type="hidden", name="brand", id="brand")