extends templates/template-one-column.jade

block variables
	- var page_class = "fw-forms"
	- var page_heading_titile = 'Forms elements'
	- var breadcrumb_chain = ["Главная", "Элементы формы"] 
	
block prepend links

block pixel-glass-templates
	//- include ../../pixel-glass-teplates/index-lg.html

block heading_titile
	h1 #{page_heading_titile}

block content
	include pages/fw/forms/content.jade



block prepend bottom-scripts
	