extends templates/template.jade

block variables
	- var page_class = "fw-grid"
	
block prepend links

block pixel-glass-templates
	//- include ../../pixel-glass-teplates/index-lg.html

block page
	include pages/fw/grid/content.jade



block prepend bottom-scripts
	