.pseudocheckbox
	& label
		position relative
		padding-left 40px 
		cursor pointer
		font-size inherit
		display inline-block
		user-select none

	& input[type="checkbox"]
		position absolute
		left -9999px
		
		& + label:before
		& + label:after
			content "" 
			position absolute
			
		& + label:before
			pseudo-checkbox-before()			
			transit(,100ms)
		
		& + label:after
			pseudo-checkbox-after()
			opacity 0
			display block
			width 9px
			height 14px
			border 0 solid rgb(357, 79,90)
			border-width 0 2px 2px 0
			pointer-events none
			transit(,100ms)
			
		&:checked
			& + label:before
				border 2px solid #39b0e8
				border-color $checkbox-before-border-color-checked 
				background-color $checkbox-before-bg-checked
		
		&:checked	
			& + label:after
				opacity 1
				
	&.disabled
		& input[type="checkbox"]
			& + label
				color rgba(85, 85, 85, 0.5)
				&:before
					background-color rgba(197, 198, 216, 0.5) !important
					border-color rgba(197, 198, 216, 0.9) !important