// 
//  Variables
// 

// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-grid-classes ?= 	true
	


//== Colors

$black ?=           #000
$white ?=           #fff

$brand-primary ?=       darken(#428bca, 6.5) // #337ab7

//== Scaffolding

$body-bg ?=				#fff
$text-color ?=			#111
$text-muted ?=			#777


//** Global textual link color.
$link-color ?=            	$brand-primary
$link-decoration ?= 		none
$link-hover-color ?=    	darken($link-color, 15)
$link-hover-decoration ?= 	underline


//== Typography

$font-family-sans-serif ?= -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
$font-family-monospace ?=  SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
$font-family-base ?=       $font-family-sans-serif

$font-size-base ?=         1rem //14px
$font-size-large ?=        ceil($font-size-base * 1.25) // ~18px
$font-size-small ?=        ceil($font-size-base * 0.875) // ~12px

$font-weight-light ?=           300
$font-weight-normal ?=          400
$font-weight-bold ?=            700

$font-weight-base ?=        $font-weight-normal

// Head font-size
$h1-font-size?=				$font-size-base * 2.5
$h2-font-size?=				$font-size-base * 2
$h3-font-size?=				$font-size-base * 1.75
$h4-font-size?=				$font-size-base * 1.5
$h5-font-size?=				$font-size-base * 1.25
$h6-font-size?=				$font-size-base


//== Components

$line-height-base ?=		1.5	// 22/14
$line-height-medium ?= 		1.222222 // 18/22
$line-height-small ?= 		1.142857 	// 16/14

//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed ?=   floor($font-size-base * $line-height-base) // ~22px

//** By default, this inherits from the `<body>`.
$headings-font-family ?=   inherit
$headings-font-weight ?=   500
$headings-line-height ?=   1.1
$headings-color ?=         inherit

$display1-size ?=          6rem
$display2-size ?=          5.5rem
$display3-size ?=          4.5rem
$display4-size ?=          3.5rem

$display1-weight  ?=       300
$display2-weight  ?=       300
$display3-weight  ?=       300
$display4-weight  ?=       300
$display-line-height  ?=   $headings-line-height


//== Menu
$menu-width ?= 				260px
$menu-bg-color ?=           #fbfbfb


//== Forms


//-- Z-index master list
$zindex-mobile-menu ?=			2000
$zindex-overlay ?=				900


//== Media queries breakpoints
//
$screen-xs-min ?=  			0 // 480px
$screen-sm-min ?=  			576px // 768px
$screen-md-min ?=			768px // 992px
$screen-lg-min ?= 			992px // 1200 px
$screen-xl-min ?=			1200px

$grid-breakpoints ?= {
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px
}

// So media queries don't overlap when required, provide a maximum
$screen-xs-max ?=			($screen-sm-min - 1)
$screen-sm-max ?=			($screen-md-min - 1)
$screen-md-max ?=			($screen-lg-min - 1)
$screen-lg-max ?=			($screen-xl-min - 1)

//== Grid system
// 

// Maximum container width
$container-max ?=       1170px
$container-min ?=       320px
//** Number of columns in the grid.
$grid-columns ?= 		12
//** Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width ?= 	30px

$grid-float-breakpoint ?=     $screen-sm-min
$grid-float-breakpoint-max ?= ($grid-float-breakpoint - 1)


//== Container sizes
$container-sm ?=               540px
$container-md ?=               720px
$container-lg ?=               960px
$container-xl ?=               1140px

$container-max-widths ?= {
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1140px
}

//== Breadcrumb
//
//##
$breadcrumb-font-size ?= 14px
$breadcrumb-text-color ?= #1b1b1b
$breadcrumb-link-color ?= #737373
$breadcrumb-delimiter-content ?= "/"
$breadcrumb-delimiter-font-size ?= $breadcrumb-font-size


//== Pagination
//
//##

$pagination-color ?=					$link-color
$pagination-bg ?=						#f7f5f0
$pagination-border ?=         			#e4dcc9
$pagination-padding-vertical ?=			6px
$pagination-padding-horizontal ?=		10px

$pagination-hover-color ?=				$link-hover-color
$pagination-hover-bg ?=					$gray-lighter
$pagination-hover-border ?=				#ddd

$pagination-active-color ?=				#fff
$pagination-active-bg ?=				#cbba91
$pagination-active-border ?=			#e4dcc9

$pagination-active-class ?=            '.pager-current'

// Gamburger
$burger-color ?=				#000
$burger-hover-color ?=			#555
$burger-border-radius ?=		0
$burger-width ?=				33px
$burger-all-height ?=			24px
$burger-one-height ?=			4px
// растояние между элементами бургера
$_burger-pseudo-between ?= ($burger-all-height - ($burger-one-height * 3)) / 2
// величина смещение верхнего и нижнего элемента
$burger-pseudo-offset ?= $_burger-pseudo-between + $burger-one-height


// Прижимаем футер к низу страницы
$footer-height ?=				100px