//- Увеличение/уменьшение числа в поле
mixin amount-controler(cl = "")
	.amount-controler(class= cl)
		a.amount-controler__minus.i-minus(href="")
		input.amount-controler__amount(type="text", value="1")
		a.amount-controler__plus.i-plus(href="")