mixin header()
	header.header
		.header__burger
			+burger()

		.container
			.row
				.col
					.header__phone
						a.phone(href="") 8-800-800-80-80
				.col
					.header__email
						a.email(href="mailto:base@base.ru") base@base.loc
				.col
					.header__feedback
						a.feedback(href="") Обратный звонок

				.col
					.header__search.header__inline
						form.search(action="")
							input(type="text", placeholder="Поиск по сайту")
							button(type="submit")


		
		.header__menu
			.container
				+menu("menu",true)