include header.jade
include menu.jade

include footer.jade
include breacrumb.jade
include pagination.jade
include burger.jade
include gotop-btn.jade
include mobile-content.jade

//- Шапка на странице fullpage
include fp-header.jade 
//- Главное меню на странице fullpage
include fp-menu-main.jade
//- Навигация по секциям
include fp-menu-sidebar.jade