mixin feedback()
	.popup.popup__feedback.feedback
		.popup__close.i-close
		.feedback__title Заказать звонок
		form.form(action="")
			.form__group
				input.form__control(type="text", placeholder="Ваш телефон")

			input(type="submit", value="Заказть")