.container
	h1 Index page

	p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero quam quas doloremque sed repudiandae ab enim sit nemo debitis, nisi iusto voluptatem architecto voluptas asperiores ducimus qui labore et, ad!