.container
	h1 Index page

	p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero quam quas doloremque sed repudiandae ab enim sit nemo debitis, nisi iusto voluptatem architecto voluptas asperiores ducimus qui labore et, ad!

	.row
		.col
			.test-col
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto dolores expedita quos libero iusto repudiandae incidunt pariatur dicta in tempora aut aspernatur corporis corrupti veritatis accusamus rerum dolore, nesciunt officia.
		.col
			.test-col
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto dolores expedita quos libero iusto repudiandae incidunt pariatur dicta in tempora aut aspernatur corporis corrupti veritatis accusamus rerum dolore, nesciunt officia.

		.w-100
		.col
			.test-col
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto dolores expedita quos libero iusto repudiandae incidunt pariatur dicta in tempora aut aspernatur corporis corrupti veritatis accusamus rerum dolore, nesciunt officia.
		.col
			.test-col
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto dolores expedita quos libero iusto repudiandae incidunt pariatur dicta in tempora aut aspernatur corporis corrupti veritatis accusamus rerum dolore, nesciunt officia.