.header
	position relative
	
	&__inline
		display inline-block
		vertical-align middle
	
	&__b
		display block
		
	&__burger
		absolute top 50% right 0
		transform translateY(-50%) 
		
		
		// @media screen and (min-width $grid-float-breakpoint)
		+media-breakpoint-up(md)
			display none