.section
	position relative
	display flex
	justify-content center
	align-items center
	z-index $zindex-section-fp
	transition 600ms
	
	+media-breakpoint-up(md)
		padding 16px 2rem
		
	+media-breakpoint-up(lg)
		padding 0
		
	&_one
		flex-direction column 
		min-height 640px
		min-height 90vh
	
		
	&__wrap
		width 100% 
		max-width 800px 
		padding-left ($grid-gutter-width / 2)
		padding-right ($grid-gutter-width / 2)
		margin-left auto
		margin-right auto
		
		+media-breakpoint-up(md)
			padding-left 0
			padding-right 0
			

		^[0]_one &
			text-align center
			

	.main-fp.menu-visible &
		opacity 0.5
		filter blur(5px)